:root {
    --bg-color: #282c34;
    --text-color: #e3e3e3;
    --font-family: 'Manrope', sans-serif;
    --header-bg-color: #20232a;
    --link-color: #a1e9ff;
    --hover-link-color: #21a1f1;
    --active-link-color: #61dafb;
    --link-size: 1.25em;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family), serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: var(--link-size);
}

a:hover {
    color: var(--hover-link-color);
}

a.active {
    color: var(--active-link-color);
}

.app-header {
    background-color: var(--header-bg-color);
    padding: 1.25em;
    border-bottom: 1px solid #333;
}

.app-header nav {
    display: flex;
    gap: 1em;
}

.app-page-container {
    padding: 1em 1.5em;
}